
/* Button's look */
#subData{
   background-color: #b9b7b6; 
   border: none;
   margin-left: 25px; 
}
#Inputcard{
   background-color: green; 
   border: none;
   margin-left: 190px; 
   margin-top: 8px; 
   margin-right: 45px; 
}

